@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria.woff2') format('woff2'), /* Super Modern Browsers */;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria-bold.woff2') format('woff2'), /* Super Modern Browsers */;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria-extrabold.woff2') format('woff2'), /* Super Modern Browsers */;
	font-weight: 800;
	font-style: normal;
}


@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria-medium.woff2') format('woff2'), /* Super Modern Browsers */;
	font-weight: 500;
	font-style: normal;
}



