.header {
    width: 100%;
    height: 100vh;
    background: #242124;
    padding: 0 30px;
    .container {
        position: relative;
    }
    
}

.header-top-menu {
    width: 100%;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    font-family: $geom;

}
.logo {
}
.header-nav {
    max-width: 310px;
    width: 100%;
    height: 100%;
		&__list {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
		}

		&__li {
            position: relative;
            padding: 10px;
            .arrow {
            }
		}

		&__link {
            color: #fff;
            font-size: 18px;
            font-family: $geom;
            font-weight: 700;text-transform: uppercase;
		}

		&__sub-list {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            li{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
            font-family: $geom;

                    white-space: nowrap;
                    color:$red;
                    font-weight: 600;
                    font-size: 18px;
                }
            }
		}
}


.header-info {
        display: flex;
        align-items: center;
		&__logo {
            width: 40px;
            height: 40px;
            background: $light-blue;
            border-radius: 100%;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                position: absolute;
                top: -5px;
                left: -5px;
            }
		}

		&__numbers {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            
		}

		&__numb {
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
		}
}


@media (min-width: 1024px) {
    .header-nav {
       
            &__list {
              
            }

            .arrow {
            }
            &__link {
                
            }
    
            &__sub-list {
                position: absolute;
                top: 100%;
                left: 0;
                background: $light-blue;
                overflow: hidden;
                max-height: 0px;
                transition: max-height 0.5s ease 0s, opacity 0.5s ease 0s, visablity 0.5s ease 0s;

                li{
                    &:last-child{
                    }
                    a{
              
                    }
                }
            }
            &__li:hover .header-nav__sub-list{
                padding: 10px;
                max-height: 100vh;
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }
    }
}   
@media (max-width: 1024px) {
    .header-nav {
        position: absolute;
        top: 0;
        left: -30px;
        max-width: unset;
        width: 40vw;
        height: 100vh;
        background: rgba(47, 44, 44, 0.603);
            &__list {
                background: $light-blue;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                
            }
    
            &__li {
                width: 100%;            
                .arrow {
                }
            }
    
            &__link {
               
            }
    
            &__sub-list {
                max-height: 0;
                li{
                    margin-bottom: 10px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                font-family: $geom;
    
                        white-space: nowrap;
                        color:$red;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
            }
    }
}